
.frame {
    width: 900px;
    border: 1px solid #ffcb3e;
    border-radius: 10px;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 25px 40px;
}

.commentBox {
    background-color: #fff5e3;
    border-radius: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px 25px;
}

.commentBox pre {
    padding: 0px 20px;
}

.writer{
    color: orange;
}

.date{
    color: #b9b9b9;
    text-align: right;
    font-size: 13px;
}



/* 댓글 입력 */

.commentInputBox{
    display: flex;
    border-bottom: 2px solid #d6d6d6;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.commentInputBox textarea {
    padding: 15px 20px;
    border: 1px solid orange;
    border-radius: 8px;
    height: 100px;
    resize: none;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0px;
}

.buttonBox button {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    background-color: #ffd78e;
    color: #FF9800;
    font-size: 16px;
}

.pagenationBox{
    display: flex;
    align-items: center;
    justify-content: center;
}