
.frame {
    width: 900px;
    border: 1px solid #ffcb3e;
    border-radius: 10px;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 25px 40px;
}

.reviewBox {
    background-color: #fff5e3;
    border-radius: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px 25px;
}

.reviewBox pre {
    padding: 0px 20px;
}

.writer{
    color: orange;
}

.date{
    color: #b9b9b9;
    text-align: right;
    font-size: 13px;
}



/* 리뷰 입력 */
.starRating {
    display: flex;
    flex-direction: row;
}

.starWrapper {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
}

.starBase {
    color: lightgray;
}

.starFilled {
    color: gold;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out; /* 채워지는 애니메이션 */
}

.leftHalf {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.rightHalf {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.leftHalf:hover ~ .starFilled {
    width: 50%; /* 왼쪽 절반에 hover하면 별의 절반만 채움 */
}

.rightHalf:hover ~ .starFilled {
    width: 100%; /* 오른쪽 절반에 hover하면 별을 완전히 채움 */
}

.reviewInputBox{
    display: flex;
    border-bottom: 2px solid #d6d6d6;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.reviewInputBox textarea {
    padding: 15px 20px;
    border: 1px solid orange;
    border-radius: 8px;
    height: 100px;
    resize: none;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0px;
}

.buttonBox button {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    background-color: #ffd78e;
    color: #FF9800;
    font-size: 16px;
}

.pagenationBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}