
.frame {
    width: 900px;
    border: 1px solid #ffcb3e;
    border-radius: 10px;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 25px 40px;
}





/* 댓글 입력 */

.commentInputBox{
    display: flex;
    border-bottom: 2px solid #d6d6d6;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.writerInfo{
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
}

.writerInfo p {
    margin-right: 10px;
}

.writerInfo input {
    border: 1px solid orange;
    border-radius: 8px;
    color: orange;
}

.commentInputBox textarea {
    padding: 15px 20px;
    border: 1px solid orange;
    border-radius: 8px;
    height: 100px;
    resize: none;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0px;
}

.buttonBox button {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    background-color: #ffd78e;
    color: #FF9800;
    font-size: 16px;
}