.frame{
    width: 1200px;
    min-height: 700px;
    padding: 15px 20px;
    box-sizing: border-box;
    box-sizing: border-box;
}

.modalFrame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}