.frame{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
}


.profileImageEdit{
    position: absolute;
    bottom: 20px;
    right: 23px;
    background: #757575;
    border-radius: 50%;
    font-size: 35px;
    padding: 7px 7px;
    color: white;
}

.row{
    display: flex;
    align-items: center;
}

.row p {
    width: 60px;
    margin-right: 3px;
}

.row input {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    min-width: 150px; /* 최소 너비 설정 */
    max-width: 208px; /* 최대 너비 설정 */
}

.saveButton{
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff9e01;
    color: white;
    font-size: 18px;
}