.frame{
    display: flex;
    padding: 40px 0px;
    justify-content: center;
}


.profileImageEdit{
    position: absolute;
    bottom: 20px;
    right: 23px;
    background: #757575;
    border-radius: 50%;
    font-size: 35px;
    padding: 7px 7px;
    color: white;
}

.row{
    display: flex;
    align-items: center;
}