.frame{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
}


.profileImageEdit{
    position: absolute;
    bottom: 20px;
    right: 23px;
    background: #757575;
    border-radius: 50%;
    font-size: 35px;
    padding: 7px 7px;
    color: white;
}

.row{
    display: flex;
    align-items: center;
}

.saveButton{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff9e01;
    color: white;
    font-size: 18px;
}