.frame{
    min-width: 1200px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.left_content{
    background: url(/public/logo.png) no-repeat;
    background-size: 100%;
    width: 345px;
    height: 80px;
    cursor: pointer;
}

.right_content{
    width: fit-content;
    min-width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userInfoBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    min-width: 120px;
    margin: 0px 15px;
}

.messageBox{
    background: url(/public/messageBox.png) no-repeat;
    background-size: 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 68px;
    right: 208px;
    padding-top: 45px;
    padding-bottom: 21px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    z-index: 1;
    display: none;
}

.menuBox_login_true{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.menuBox_login_false{
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: space-between;
}

.alertShow{
    display: block;
    animation: alertShow 1.2s ease-out forwards;
}

.alertHide{
    animation: alertHide 0.8s ease-out forwards;
}

@keyframes alertShow{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

@keyframes alertHide{
    from{
        display: block;
        opacity: 1;
    }
    to{
        display: none;
        opacity:0;
    }
}

.messageBox p{
    border-bottom: 1px solid #ffbb00;
    padding: 12px 0px;
}

.profile{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50px;
    cursor: pointer;
}