.frame{
    background-color: #ffbb00;
    min-width: 1200px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 25px;
}

.frame h1 {
    font-family: 'CookieRun-Regular';
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.slideIn{
    animation: slideIn 0.5s ease-out forwards;
}

.slideOut{
    animation: slideOut 0.5s ease-out forwards; /* 슬라이드 인 애니메이션 */
}

@keyframes slideIn {
    from {
        height: 60px;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        display: none;
    }
}

  @keyframes slideOut {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 60px;
        opacity: 1;
    }
  }


