.basic {
    font-family: 'CookieRun-Regular';
    border: 1px solid lightgray;
    width: 950px;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 10px;
}

.basic thead{
    color: white;
    background-color: orange;
    height: 40px;
}

.basic tbody tr td:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic tbody tr td:nth-child(2){
    text-align: left;
    padding: 0px 26px;
}

.basic tbody tr td:nth-child(3){
    text-align: center;
}

.basic tbody tr td:nth-child(4){
    text-align: center;
}

.basic th {
    text-align: center;
}

.basic td {
    border-bottom: 1px solid orange;
}

.basic td img {
    width: 60px;
    height: 60px;
}