
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input, textarea, select:focus-visible{
    outline: none;
}

svg{
    cursor: pointer;
}

input, h1, h2, h3, p, button, textarea, select {
    font-family: 'CookieRun-Regular';
}

input, textarea, select{
    padding: 5px 10px;
}

input::placeholder{
    color: lightgray;
}

textarea::placeholder{
    color: lightgray;
}



select{
    appearance: none;
}

button { 
    border: none;
    cursor: pointer;
}